.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(71,71,71);
    color: white;
    font-size: 17px;
    border: 0;
}


.navbar-brand{
  float: left;
  min-height: 50px;
  padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
  color: #FFF;
  background-color: rgb(89,89,89);
}

body{
  background-image: url(../Images/2bg.png);
  background-size: 100%;
}

.able{
  color: white;
  text-align: center;
  height: 700px;
  background-color: rgba(128,128,128, 0.8);

}

.able h1{
  padding-top: 5%;
}

.able img{
  width: 100%;
  padding-top: 10px;
}

.able p{
  padding-top: 20px;
}

.able ul{
  list-style-type: none;
  margin: auto;

}

.able i{
  padding-top: 50px;
  padding-right: 50px;
  font-size: 20px;
}
